.content-bottons {
    justify-content: space-between;
}

/*Card com as informações do dispositivo*/

.cards-principal {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card-segury {
    width: 220px;
    height: 190px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
}

.card-segury .h4{
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    margin-bottom: 4%;
    margin-left: 3%;
}

.card-segury2{
    width: 220px;
    height: 190px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
    gap: 1em;
}

.card-segury2 h4{
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    align-self: flex-end;
}

.data-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.data-card p {
    font-size: 1rem;
    font-weight: 500;
}

.percentagem {
    font-size: 3rem;
    margin-left: 10px;
    font-weight: 700;
}

.range-card {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 30px;
    background-color: #ccc;
    position: relative;
    border-radius: 50px;
}

.fill-card {
    height: 100%;
    width: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    transition: width 0.3s ease;
    border-radius: 50px;
}

/*Botão de ordenar*/
.order-disp {
    margin-right: 2.5%;
    margin-top: 0.5%;
}

.select {
    width: 210px;
    height: 40px;
    border: 1px solid var(--text-color);
    border-radius: 30px;
    background-color: rgba(217, 217, 217, 0.1);
    color: var(--text-color);
    margin-top: 2%;
}

option {
    background-color: var(--background-color);
}

/*Gráfico*/
.container-grafico{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    margin-top: 2%;
}

.grafico-divisao{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 2%;
}

 .chart{
    padding: 10px;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 10px;
 }

 .chart p{
    font-size: 0.8rem;
    color: var(--text-color);
    margin-left: 1%;
 }

 label{
    color: red;
 }

 /*Barra p*/

