.content {
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    width: 100%;
}

.content-title {
    width: 90%;
}

.content-bottons {
    display: flex;
    flex-direction: row;
    width: 97%;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.title-dispositivo {
    width: 90%;
}

.buttons-separation {
    display: flex;
    flex-direction: row;
    width: 20%;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 90%;
    justify-content: end;
}

/*botão de pesquisa*/
.pesquisa {
    position: relative;
    box-sizing: border-box;
    width: fit-content;
    margin-right: 5px;
    cursor: pointer;
}

.mainbox {
    box-sizing: border-box;
    position: relative;
    width: 230px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    background-color: var(--background-color);
    border: 2px solid var(--text-color);
    transition: all 0.3s ease;
}

.checkbox:focus {
    border: none;
    outline: none;
}

.checkbox:checked {
    right: 10px;
}

.checkbox:checked~.mainbox {
    width: 50px;
}

.checkbox:checked~.mainbox .search_input {
    width: 0;
    height: 0px;
}

.checkbox:checked~.mainbox .iconContainer {
    padding-right: 8px;
}

.checkbox {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 17px;
    top: 10px;
    z-index: 9;
    cursor: pointer;
    appearance: none;
}

.search_input {
    box-sizing: border-box;
    height: 100%;
    width: 170px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-bottom: 4px;
    padding-left: 10px;
    font-size: 1em;
    color: var(--text-color);
    transition: all 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search_input::placeholder {
    color: var(--text-color);
}

.iconContainer {
    box-sizing: border-box;
    padding-top: 5px;
    width: fit-content;
    transition: all 0.3s ease;
}

.search_icon {
    box-sizing: border-box;
    fill: var(--text-color);
    font-size: 1.3em;
}


/*Notificação*/
.button {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--text-color);
    background-color: var(--background-color);
    border-radius: 50%;
    cursor: pointer;
    transition-duration: .3s;
}

.bell {
    width: 18px;
}

.bell path {
    fill: var(--text-color);
}

.bell2 {
    width: 25px;
}

.bell2 path {
    fill: var(--text-color);
}

.button:hover {
    background-color: var(--primary-color);
}

.button:hover .bell {
    animation: bellRing 0.9s both;
}

.button:hover .bell2 {
    animation: bellRing 0.2s both;
}

/* bell ringing animation keyframes*/
@keyframes bellRing {

    0%,
    100% {
        transform-origin: top;
    }

    15% {
        transform: rotateZ(10deg);
    }

    30% {
        transform: rotateZ(-10deg);
    }

    45% {
        transform: rotateZ(5deg);
    }

    60% {
        transform: rotateZ(-5deg);
    }

    75% {
        transform: rotateZ(2deg);
    }
}

.button:active {
    transform: scale(0.8);
}


.notification-button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    border: 2px solid #e4e4e4;
    border-radius: 50%;
    padding: 10px;
}

.notification-badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 3px 6px;
    position: absolute;
    top: -5px;
    right: -5px;
}

.notification-button img {
    width: 30px;
    /* Tamanho do ícone do sino */
}

/* Estilos para o modal */
.modal {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0);
    z-index: 2;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    max-height: 70%;
    overflow-y: auto;
    margin-left: -16.5%;
    margin-top: 0.5%;
}


/* Personalize a barra de rolagem, o polegar e o fundo dentro da modal */
.modal::-webkit-scrollbar {
    width: 12px;
}

.modal::-webkit-scrollbar-thumb {
    background-color: rgba(21, 5, 111, 0.542);
    border-radius: 35px;
}

.modal::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.modal.show {
    display: block;
}

.btn {
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 600;
    width: 120px;
    height: 40px;
    /* line-height: 40px; */
    cursor: pointer;
    background-color: inherit;
    border: none;
    outline: none;
    color: #f1f1f1;
    margin-top: 5%;
    margin-left: 90%;
}

.btn:hover .background {
    height: inherit;
    /* width: 120%; */
    top: 50%;
}

.btn .background {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3px;
    width: 100%;
    background-color: #006b92;
    z-index: -1;
    border-radius: 5px;
    transition: all 0.3s;
}

.divisao2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-content {
    /* background-color: #fff; */
    border-radius: 5px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.title-notifiction {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para a lista de notificações */
#notification-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#notification-list li {
    width: 270px;
    height: 45px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    color: black;
    display: flex;
    padding: 10px;
    border: 1px solid white;
    color: #fff;
}

.divisao {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 5%;
}

/*Botão de lixeira*/
.lixeiraButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.7em;
    border: 0px solid transparent;
    background-color: rgba(111, 5, 17, 0.542);
    border-radius: 1.25em;
    transition: all 0.2s linear;
    cursor: pointer;
    /* margin-top: -5%; */
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 60%;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*Botão de escolha da pagina */

.choice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.options {
    display: flex;
    gap: 277px;
}

.option {
    position: relative;
    padding-bottom: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 2px;
    width: 360px;
    background-color: var(--text-color);
    position: absolute;
    bottom: -2px;
}

.option:hover .line,
.option.active .line {
    visibility: visible;
    background-color: rgb(88, 44, 182);
}

.option1.active .line {
    background-color: purple;
}

/*Barra de porcentagem*/
.information {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.data p {
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 1%;
}

.range {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 20px;
    background-color: #ccc;
    position: relative;
    border-radius: 50px;
}

.fill {
    height: 100%;
    width: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    transition: width 0.3s ease;
    border-radius: 50px;
}

.percentage {
    font-size: 1.2rem;
    margin-left: 10px;
    font-weight: 800;
}

.blue {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}



/* box dos dispositivos */
.cardsContainer {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-left: 7%;
}

.divisisor {
    display: flex;
    flex-direction: row;
}

/*legenda de cor */
.legenda {
    width: 30%;
    height: 60px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-meter {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 15%;
    /* padding: 10px 34px; */
}

.meter-color {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    /* padding: 0 30px; */
    /* margin-top: -4%; */
}

.meter-cor1 {
    width: 85px;
    height: 8px;
    background-color: green;
    border-radius: 50px;

}

.meter-cor2 {
    width: 90px;
    height: 8px;
    background-color: yellow;
    border-radius: 50px;
    margin-left: -2%;
}

.meter-cor3 {
    width: 80px;
    height: 8px;
    background-color: red;
    border-radius: 50px;
    margin-left: -2%;
}

.h3 {
    font-size: 1rem;
}

.box-disp2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

/*Card dos dispositivos*/
.box-dispositivo {
    aspect-ratio: 1.5/1;
    max-width: 20%;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    cursor: pointer;
}

.descrition-dispo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h4 {
    font-size: 1.1rem;
}

.descrition {
    text-align: center;
    font-size: 0.8rem;
    word-break: break-word;
}

.status-dispo {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.alrtImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.restartBtn {
    height: 40px;
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background-color: transparent;
    border: 2px solid var(--text-color);
    padding: 5px;
    border-radius: 5px;
}

.restartBtn:hover {
    background-color: var(--dimmed-background-color);
    cursor: pointer;
}

.restartBtnImg {
    width: auto;
    height: 100%;
    filter: brightness(0);
}

/*Imagem status*/
.imgOKBox {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}